$facebook: #3B5998;
$font: "sans-serif", Arial;
$instagram: #FD1D1D;
$negative: #C22137;
$number-color: #ffffff;
$positive: #40E63D;
$reply: #C8ECF2;
$tumblr: #35465C;
$twitter: #1DA1F2;


@mixin flex_column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.align_items_start {
  align-items: flex-start;
}

.align_items_center {
  align-items: center;
}

.align_items_end {
  align-items: flex-end;
}

.align_content_bottom {
  align-content: flex-end;
  align-items: flex-end;
}

.flex_column_start {
  @include flex_column;
  justify-content: flex-start;
}

.flex_column_center {
  @include flex_column;
  justify-content: center;
}

.flex_column_end {
  @include flex_column;
  justify-content: flex-end;
}

.flex_row_start {
  @include flex_row;
  justify-content: flex-start;
}

.flex_row_center {
  @include flex_row;
  justify-content: center;
}

.flex_row_end {
  @include flex_row;
  justify-content: flex-end;
}

.inset {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}

.outset {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
}

.default_font {
  font-family: $font;
}

/*d3 classes*/
.bottom_box_shadow {
  padding: .25em 0 .25em 0;
  margin: .25em 0 .25em 0;
  box-shadow: 0px -1px 0 0 rgba(82,78,82,.5);
}
.border_box {
  padding: .25em 0 .25em 0;
  margin: 0 0 0 0;
  box-shadow: 0px -1px 0 0 rgba(82,78,82,.5);
}
.change_cursor {
  display: block;
  cursor: pointer;
}
.date_padding {
  margin-left: 83%;
}
.fa-retweet {
  padding-left: .5em;
}
.fa-flag {
  padding-right: .5em;
}
.fa-star {
  padding-right: .5em;
}
.facebook {
  padding-left: .5em;
  color: $facebook;
}
.instagram {
  padding-left: .5em;
  color: $instagram;
}
.twitter {
  padding-left: .5em;
  color: $twitter;
}
.tumblr {
  padding-left: .5em;
  color: $tumblr;
}
.reply {
  padding-left: .5em;
  color: $reply;
}
.link {
  stroke: #777;
  stroke-width: 2px;
}
.mentions {
  font: 15px "sans-serif", Arial;
  color: #ffffff;
}
.node {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 2px;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
}

/*Mentions TimeLine*/

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: $number-color;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
svg {
  font: 10px Arial;
  //color: white;
}
.domain {
  fill: white;
  stroke: white;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.x.axis {
  fill: white;
  shape-rendering: crispEdges;
}




